body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font: 15px/1.5 Arial; Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: CornSilk;
  height: 100%;
}
/* Global */
.container{
  width: 50%;
  margin: auto;
  overflow: hidden;
}
ul {
  padding: 0;
  margin: 0;
}
/* Header */
header{
background: black;
color: white;
padding-top: 15px;
min-height: 80px;
border-bottom: darkorange 3px solid;
}
header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
header li{
  float: left;
  display: inline;
  padding: 0 15px 0 15px;
}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
  padding: 10px;
  font-size: 30px;
}
header nav {
  float: right;
  margin-top: 10px;
  font-size: 25px;
}
header .highlight, header .current a{
  color: darkorange;
  font-weight: bold;
}
header a:hover{
  color:darkorange;
  font-weight: bold;
}

/* Showcase */
#showcase{
  min-height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/felix-mooneeram-222805-unsplash.jpg") no-repeat;
  text-align: center;
  color: white;
  background-position: bottom;
  background-size: cover;
}
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 25px;
}
/* Newsletter */
#newsletter{
  background: url('../img/krists-luhaers-543526-unsplash.jpg') center center no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
  weight:100%;
  display: flex;
  color: white;
  font-weight: bold;
  margin-top: 1px;
  padding: 1px;
  border-bottom: darkorange 7px solid;
  border-top: darkorange 7px solid;
  font-size: 17px;
  opacity: 0.8;
}
/* footer part features */
footer{
  color: white;
  background-color: black;
  text-align:center;
  border-top: darkorange 1px solid;
  border-bottom: darkorange 1px solid;
  font-size: 15px;
  overflow: hidden;
}

#foot {
  border-right: 1px solid darkorange;
}
footer ul li{
  list-style: none;
  display: block;
  text-align: left;
}
footer ul li a{
  color: white;
  font-size: 17px;
}
footer h3{
  font-size: 20px;
  color: darkorange;
  text-align: left;
}
/* featuresfor sitemap class */
.sitemap{
  width: 25%;
  display: inline-block;
  height: 200px;
  float: left;
}

footer i:hover {
  color: darkorange;
}





img {
  width: 100%;
  height: 100%;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    border-radius: 2.2em;
    background-color: white;
    opacity: 0.5em;

}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}
div .menu-btn {
  background-color: white;
  margin-bottom: 1.3em;
  font-size: 1.3em;
  border-radius: 0.7em;
  padding: 8px;
  padding-right: 25px;
  padding-left: 25px;
  text-decoration: none;
  box-shadow: 10px 10px 5px grey;
  margin-right: 25px;
  margin-left: 90px;


}
div .menu-btn a {
  text-decoration: none;
}
div .menu-btn:hover {
  background-color: lightgrey;
}
div.jumbotron{
  background-color: none;
}
/*Button Source code is from littlesnippets.net */
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1582 {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.snip1582:before,
.snip1582:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.snip1582:before {
  border-color: #c47135;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.snip1582:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  bottom: -5px;
  right: 0px;
}

.snip1582:hover,
.snip1582.hover {
  background-color: #c47135;
}

.snip1582:hover:before,
.snip1582.hover:before,
.snip1582:hover:after,
.snip1582.hover:after {
  height: 100%;
  width: 100%;
}
