.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
h1{
text-align: center;
font-weight: bold;

}
h2{
text-align: center;
font-weight: bold;

}
