/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.block {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

/* The animation code */
@keyframes percentAnimation {
    from {width: 0;}
}

/* The element to apply the animation to */

.skills {
  animation-name: percentAnimation;
  animation-duration: 4s;
  text-align: right; /* Right-align text */
  padding: 10px; /* Add some padding */
  color: white; /* White text color */
}

.html {
  background-color: #7f1b91;
  width: 90%;
}

.css {
  background-color: #f235d9;
  width: 80%;
}

.js {
  background-color: #3492ef;
  width: 65%;
}

.php {
  background-color: #808080;
  width: 60%;
}
.statics{
  width: 90%;
  height: 400px;
  margin: 0 auto;
  display: block;
}
h1 {
  text-align: center;
}
